.productDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    padding: 20px;
}

.productInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.productInfo img {
    max-width: 400px;
    max-height: 400px;
    object-fit: contain;
    margin-bottom: 20px;
}

.productInfo p {
    font-size: 1.2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.dark-mode {
    background-color: #121212;
    color: #ffffff;
}