.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.mainContainer form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    border: 1px solid #084c8b;
    border-radius: 5px;
    width: 30vw;
}
.mainContainer form input{
    padding: 8px;
    font-size: 1rem;
}
.mainContainer form button{
    padding: 10px;
    font-size: 1rem;
    background-color: #0068d8;
    color: white;
    border: none;
    cursor: pointer;
}
.mainContainer form button:hover{
    background-color: #0056b3;
}
.dark-mode{
    background-color: #121212;
    color: #ffffff;
}