<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/style/detailPage.css}">
        <title>DetailPage</title>
        
    </head>
    <body>
        <div th:replace="header :: siteHeader('Produktdetaljer')"></div>
        <div class="productDetail">
            <h1 th:text="${product.name}">Produktdetaljer</h1>
            <div th:if="${product != null}" class="productInfo">
                <img th:src="@{${product.imageUrl}}" alt="" />
                <p th:text="'Produkt beskrivning: ' + ${product.description}">Produkt beskrivning</p>
                <p th:text="'Pris: $' + ${product.price}">Produkt pris</p>
            </div>
            <div th:if="${product == null}">
                <p>Produkten hittades inte.</p>
            </div>
            <div th:if="${cart != null}">
                <button th:onclick="'addToCart(' + ${product.id} + ')'">Lägg till i kundvagn</button> 
            </div>
        </div>
    <div th:replace="footer :: siteFooter"></div>
    <script th:src="@{/script/darkmode.js}"></script>
</body>
</html>