<div th:fragment="siteHeader(title)"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
     <link rel="stylesheet" th:href="@{/style/header.css}">
  <header>
    <h2 th:text="${title}">WebShop</h2>
    <nav class="nav-links">
      <a th:href="@{/}">Start</a>
      <a th:href="@{/users/register}">Registrera</a>
      <a sec:authorize="isAuthenticated()" th:href="@{/user/orders}">Mina ordrar</a>
      <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logga ut</a>
      <a sec:authorize="isAnonymous()" th:href="@{/login}">Logga in</a>
      <button id="darkModeToggle">Dark Mode</button>
    </nav>
    <script th:src="@{/script/darkmode.js}"></script>
  </header>
</div>