<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>webShop</title>
</head>
<body>
    <div th:replace="header :: siteHeader('webShop')"></div>
    <h1>Produktlista</h1>
    <ul>
        <li th:each="product : ${products}" th:text="${product.name}">Produkt namn</li>
        <img th:each="product : ${products}" th:src="@{${product.imageUrl}}" alt="" />
        <li th:each="product : ${products}" th:text="${product.price} + ' SEK'">Produkt pris</li>
    </ul>
    <div th:replace="footer :: siteFooter"></div>
</body>
</html>