<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>webShop</title>
</head>
<body>
    <a th:if="${isAuthenticated}" th:href="@{/logout}"><button>logga ut</button></a>
    <a th:if="${!isAuthenticated}" th:href="@{/login}"><button>logga in</button></a>
    <h1>Produktlista</h1>
    <ul>
        <li th:each="product : ${products}" th:text="${product.name}">Produkt namn</li>
    </ul>
</body>
</html>