<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skapa Användare</title>
    <link rel="stylesheet" th:href="@{/style/register.css}">
    <link rel="stylesheet" th:href="@{/style/globalStyle.css}">
</head>

<body>
    <div th:replace="header :: siteHeader('Skapa Användare')"></div>
    <main class="mainContainer">

        <h1>Registrera Ny Användare</h1>
        <form th:action="@{/users/register}" th:object="${user}" method="post">
            <label for="firstName">Förnamn:</label>
            <input type="text" id="firstName" th:field="*{firstName}" />
            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
            <br>
            <label for="lastName">Efternamn:</label>
            <input type="text" id="lastName" th:field="*{lastName}" />
            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
            <br>

            <label for="email">E-post:</label>
            <input type="email" id="email" th:field="*{email}" />
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            <br>

            <label for="username">Användarnamn:</label>
            <input type="text" id="username" th:field="*{username}" />
            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
            <br>

            <label for="password">Lösenord:</label>
            <input type="password" id="password" th:field="*{password}" />
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            <br>

            <button type="submit">Registrera</button>
        </form>
    </main>
    <div th:replace="footer :: siteFooter"></div>
    <script th:src="@{/script/darkmode.js}"></script>
</body>

</html>